html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

#wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-size: 40px;
  position: fixed;
  top: 0;
  padding-left: 15px;
  text-shadow: 1px 1px 1px white;
}

#controller {
  width: 200px;
  height: auto;
  position: fixed;
  top: 60px;
  left: 15px;
  font-size: 16px;
  border-left: 1px solid rgb(0,0,0,0.5);
  padding-left: 10px;
}

#controller h4,p {
  margin: 0;
}

p.day-selector {
  text-shadow: 
    -1px -1px 5px rgba(255,255,255,.1), 
     1px 1px 2px rgba(0,0,0,.5);
  cursor: pointer;
  font-size: 24px;
  color: white;
}

p.day-selector:active {
  position: relative;
  top: 1px;
}

.legend {
  height: 20px;
  line-height: 20px;
  margin: 2px 0px;
}

.legend-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: text-bottom;
  cursor: pointer;
}

.legend span {
  margin-left: 2px;
}

h1,h2{
  margin: 5px 0px;
}

svg {
  width: 100%;
  height: 100%;
}

path.polygon {
  fill: none;
  stroke-width: 0.07px;
  stroke: black;
}

path.coastline {
  fill: #f0f0f0;
  stroke-width: 0.25px;
  stroke: black;
  stroke-opacity: 0.25;
}

path.bold-coastline {
  fill: none;
  stroke-width: 5px;
  stroke: #0086ff;
  stroke-opacity: 0.09;
}

#legend {
  min-width: 100px;
  margin-top: 10px;
  display: none;
}

.ramp-container {
  width: 20px;
  height: 250px;
  display: block;
  position: relative;
}

.ramp-container img {
  width: 100%;
  height: 100%;
}

.ramp-container .indicator {
  min-width: 50px;
  font-size: 8px;
  position: absolute;
  left: 25px;
  margin: 0;
}

.class-row {
  height: 20px;
  line-height: 20px;
  margin: 5px 0px;
}

.patch {
  width: 20px;
  height: 20px;
  border: 0.5px solid rgb(0,0,0,0.75);
  display: inline-block;
  box-sizing: border-box;
}

.description {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  margin-left: 5px;
}

#map-description {
  max-width: 400px;
  position: absolute;
  bottom: 10px;
  right: 15px; 
  font-size: 10px;
  text-align: end;
}