html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 750px;
  height: 100%;
  margin: 0 auto;
}

h1,h2{
  margin: 5px 0px;
}


svg {
  width: 100%;
  height: 100%;
}

path.polygon {
  fill: none;
  stroke-width: 0.05px;
  stroke: black;
}

