html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

h1,h2{
  margin: 5px 0px;
}

svg {
  width: 100%;
  height: 100%;
}

path.polygon {
  fill: none;
  stroke-width: 0.07px;
  stroke: black;
}

path.coastline {
  fill: #f0f0f0;
  stroke-width: 0.25px;
  stroke: black;
  stroke-opacity: 0.25;
}

path.bold-coastline {
  fill: none;
  stroke-width: 5px;
  stroke: #0086ff;
  stroke-opacity: 0.09;
}

